// Query variables

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;



// mobile portrait.
@media (max-width: $screen-sm-min) {
    
    html,
    body {
        max-width: 100%;
    }

    .ex-nav-secondary {
        position: initial;
    }


    .ex-expanded-navigation {
        position: absolute;
        top: 0;
        left: 0;
        // min-width: 100%;
        // z-;
    }


    .ex-mr {
        margin-right: 15px;
    }

    .ex-ml {
        margin-left: 15px;
    }

    .mobile-hidden {
        display:none;
    }

    .desktop-hidden {
        display: block;
    }

    .ex-header {
        height: 80vh;
    
        .ex-inner-text {
            margin-left: 20px;
            bottom: 50%;
            transform: translateY(50%);
            h1 {
                font-size: 2em;
            }
        }
    }

        
    .ex-nav {
        justify-content: space-evenly;
        margin-left: 0;
        min-width: 100%;
        .ex-logo {
            width: 115px;

            .ex-letters-logo {
                display: none;
            }
        }

        ul {

            .lang-selector {
                margin-right: 10px;
            }

        }   
    }

    .arrow {
        display: none;
    }
    
    .ex-about-section {
        min-height: 935px;
    
        .ex-landscape {
            display: none;
        }    
    
        .ex-portrait {
            padding: 0 15px;
            text-align: center;

            .inner-info {
                // color: #fff;
                display: block;
                h2 {
                    margin: 30px 0;
                }
                p {
                    font-size: 18px;
                    line-height: 1.8;
                }
                img {
                    // margin-top: 100px;
                    position: absolute;
                    bottom: 5%;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    
        .ex-btn-about {
            display: none;
        }
    }
        
    .d-flex-mobile {
        display: flex;
        flex-direction: column;
    }

    .services-section {
        background: $light-grey;
        padding: 100px 0;
        text-align: center;
        min-height: 1290px;
        h1 {
            font-size: 3em;
            font-weight: 700;
            margin-bottom: 80px;
        }

        .ex-services-item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 300px;
            margin-bottom: 30px;

            h3 {
                color: $primary;
                text-transform: uppercase;
                
            }

            .services-arrow {
                display: none;
            }

            .btn-more-services {
                display: none;
            }
        }
    }

           
    // Banners
    .ex-banners {
        margin-top: 0;
    }

    .watt-img,
    .banner-item-spitogatos,
    .banner-item-watt {
        width: 100%;
        height: 245px;
        transition: all ease-in-out 250ms;
    }

    .banner-item-spitogatos {
        background: url('../assets/spitogatosbg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transform: translateX(0px);
        position: relative;
        z-index: 1;
        transition: all ease-in-out 250ms;
        text-align: center;
    }

    .ex-banner-title {
        text-transform: uppercase;
        padding: 30px 0 40px 0;
        color: #fff;
        font-weight: 600;
        font-size: 1.25em;
    }

    .ex-banner-logo {
        width: 250px;
    }

    .banner-item-watt {
        background: url('../assets/wattnvoltbg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transform: translateX(0px);
        transform-origin: center;
        position: relative;
        z-index: 2;
        transition: all ease-in-out 250ms;
        text-align: center;

    }
    

    .ex-pleonektimata {
        h1 {
            text-align: center;
            margin: 50px 0 150px 0;
            color: $light-grey;
            font-size: 3em;
            font-weight: 700;
            font-style: italic;
        }
    }

    .ex-pleonektimata-banners {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .ex-pleonektimata-item {
            text-align: center;
            position: relative;
            margin-top: 100px;

            .ex-p-image {
                width: 250px;
            }

            .ex-p-number {
                width: 90px;
                z-index: -1;
                position: absolute;
                top: 0;
                left: 0;
            }

            p {
                color: $primary;
                font-size: 1.2em;
                margin-top: 30px;
            }
            
        }
    }

    .featured-post-inner-text {
        h2 {
            font-size: 1.8em;
        }
    }

        
    .ex-footer-img {
        max-width: 100%;
        margin-top: -5px;
        min-width: auto;

        .ex-footer-img-div {
            width: 100%;
            height: 100%;
            margin-left: 0;
            background: url('../assets/footer-img.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            margin-bottom: 25px;

            .ex-footer-img-text {
                color: #fff;
                font-family: $font-secondary;
                margin: 95px 15px 100px 15px;
                h3 {
                    font-size: 2em;
                    margin-bottom: 30px;
                }
                p {
                    font-size: 1.2em;
                }
            }
        }

            
        .ex-btn-contact {
            overflow: hidden;
            display: flex;
            margin: 0 auto;
            justify-content: center;
            align-items: center;
            a {
                position: relative;
                background: #fff;
                padding: 20px;
                color: $primary;
                text-transform: uppercase;
                overflow: hidden;
                font-size: 1.3em;
                font-family: $font-secondary;
                &:hover .btn-blog-all-arrow {
                    transform: translateX(37px);
                    transition: all ease-in-out 250ms;
                }
            }
            .btn-blog-all-arrow {
                height: 25px;
                position: absolute;
                left: 0;
                transform: translatex(-300px);
                margin-top: 3px;
            }
        }
    }

    .ex-expanded-navigation {
        min-height: 100% !important;
        padding-top: 70px;
    }    

    .ex-expanded-address-img {
        height: 400px;
    }

    .ex-expanded-col-wrapper {
    
        ul {
            list-style-type: none;
            position: relative;
                a {
                    font-size: 1.5em;
                    font-family: $font-primary;
                }
    
                li {
                    margin-bottom: 15px;
                    h4 {
                        color: $primary;
                    }
                }
        
            .ex-expanded-link { 
                a {
                    text-transform: uppercase;
                    font-size: 1em;
                }
                
            }
        }
    
        .ex-expanded-title-rotated {
            text-transform: uppercase;
            transform: rotate(-90deg);
            position: absolute;
            top: 30%;
            left: 0;
            color: $light-grey;
            font-weight: 300;
            font-size: 3.5em;
            font-family: $font-secondary;
        }
    
        .ex-expanded-title-rotated-long {
            // @extend .ex-expanded-title-rotated;
            top: 25%;
            left: -12%;
        }
    
    } 

    .ex-expanded-col-wrapper {
        margin: 10px 0 60px 0;

        div {
            margin-left: 30%;
        }
    }

    .ex-expanded-info-wrapper {
        margin: 90px 0 50px 0;
        font-size: 1.2em;
        padding: 0 70px;

    
        div {
            margin: 10px 0 0 10px;
        }  
        
        .ex-expanded-address {
            color: $primary;
            font-family: $font-secondary;
        }
    
        .ex-expanded-tel {
            margin: 40px 0 60px 15px;
            p {
                span {
                    color: $primary;
                }
            }
        }
    
        .ex-expanded-social-icons {
            a {
                margin-right: 15px;
                color: $dark-grey;
            }
        }
    }
    
    .ex-read-more {
        a { min-width: 100%; }
    }


    .post-wrapper {
        h1 {
            font-size: 2.5em;
            text-align: center;
        }
    }

}

// tablet
@media (max-width: $screen-md-min) {
    
    html,
    body {
        max-width: 100%;
    }

    .ex-nav-secondary {
        position: initial;
    }


    .ex-expanded-navigation {
        position: absolute;
        top: 0;
        left: 0;
        // min-width: 100%;
        // z-;
    }


    .ex-mr {
        margin-right: 15px;
    }

    .ex-ml {
        margin-left: 15px;
    }

    .mobile-hidden {
        display:none;
    }

    .desktop-hidden {
        display: block;
    }

    .ex-header {
        height: 80vh;
    
        .ex-inner-text {
            margin-left: 20px;
            bottom: 50%;
            transform: translateY(50%);
            h1 {
                font-size: 2em;
            }
        }
    }

        
    .ex-nav {
        justify-content: space-evenly;
        margin-left: 0;
        min-width: 100%;
        .ex-logo {
            width: 115px;

            .ex-letters-logo {
                display: none;
            }
        }

        ul {

            .lang-selector {
                margin-right: 10px;
            }

        }   
    }

    .arrow {
        display: none;
    }
    
    .ex-about-section {
        min-height: 935px;
    
        .ex-landscape {
            display: none;
        }    
    
        .ex-portrait {
            padding: 0 15px;
            text-align: center;

            .inner-info {
                // color: #fff;
                display: block;
                h2 {
                    margin: 30px 0;
                }
                p {
                    font-size: 18px;
                    line-height: 1.8;
                }
                img {
                    // margin-top: 100px;
                    position: absolute;
                    bottom: 5%;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    
        .ex-btn-about {
            display: none;
        }
    }
        
    .d-flex-mobile {
        display: flex;
        flex-direction: column;
    }

    .services-section {
        background: $light-grey;
        padding: 100px 0;
        text-align: center;
        min-height: 1290px;
        h1 {
            font-size: 3em;
            font-weight: 700;
            margin-bottom: 80px;
        }

        .ex-services-item {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 300px;
            margin-bottom: 30px;

            h3 {
                color: $primary;
                text-transform: uppercase;
                
            }

            .services-arrow {
                display: none;
            }

            .btn-more-services {
                display: none;
            }
        }
    }

           
    // Banners
    .ex-banners {
        margin-top: 0;
    }

    .watt-img,
    .banner-item-spitogatos,
    .banner-item-watt {
        width: 100%;
        height: 245px;
        transition: all ease-in-out 250ms;
    }

    .banner-item-spitogatos {
        background: url('../assets/spitogatosbg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transform: translateX(0px);
        position: relative;
        z-index: 1;
        transition: all ease-in-out 250ms;
        text-align: center;
    }

    .ex-banner-title {
        text-transform: uppercase;
        padding: 30px 0 40px 0;
        color: #fff;
        font-weight: 600;
        font-size: 1.25em;
    }

    .ex-banner-logo {
        width: 250px;
    }

    .banner-item-watt {
        background: url('../assets/wattnvoltbg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transform: translateX(0px);
        transform-origin: center;
        position: relative;
        z-index: 2;
        transition: all ease-in-out 250ms;
        text-align: center;

    }
    

    .ex-pleonektimata {
        h1 {
            text-align: center;
            margin: 50px 0 150px 0;
            color: $light-grey;
            font-size: 3em;
            font-weight: 700;
            font-style: italic;
        }
    }

    .ex-pleonektimata-banners {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        .ex-pleonektimata-item {
            text-align: center;
            position: relative;
            margin-top: 100px;

            .ex-p-image {
                width: 250px;
            }

            .ex-p-number {
                width: 90px;
                z-index: -1;
                position: absolute;
                top: 0;
                left: 0;
            }

            p {
                color: $primary;
                font-size: 1.2em;
                margin-top: 30px;
            }
            
        }
    }

    .featured-post-inner-text {
        h2 {
            font-size: 1.8em;
        }
    }

        
    .ex-footer-img {
        max-width: 100%;
        margin-top: -5px;
        min-width: auto;

        .ex-footer-img-div {
            width: 100%;
            height: 100%;
            margin-left: 0;
            background: url('../assets/footer-img.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            margin-bottom: 25px;

            .ex-footer-img-text {
                color: #fff;
                font-family: $font-secondary;
                margin: 95px 15px 100px 15px;
                h3 {
                    font-size: 2em;
                    margin-bottom: 30px;
                }
                p {
                    font-size: 1.2em;
                }
            }
        }

            
        .ex-btn-contact {
            overflow: hidden;
            display: flex;
            margin: 0 auto;
            justify-content: center;
            align-items: center;
            a {
                position: relative;
                background: #fff;
                padding: 20px;
                color: $primary;
                text-transform: uppercase;
                overflow: hidden;
                font-size: 1.3em;
                font-family: $font-secondary;
                &:hover .btn-blog-all-arrow {
                    transform: translateX(37px);
                    transition: all ease-in-out 250ms;
                }
            }
            .btn-blog-all-arrow {
                height: 25px;
                position: absolute;
                left: 0;
                transform: translatex(-300px);
                margin-top: 3px;
            }
        }
    }

    .ex-expanded-navigation {
        min-height: 100% !important;
        padding-top: 70px;
    }    

    .ex-expanded-address-img {
        height: 400px;
    }

    .ex-expanded-col-wrapper {
    
        ul {
            list-style-type: none;
            position: relative;
                a {
                    font-size: 1.5em;
                    font-family: $font-primary;
                }
    
                li {
                    margin-bottom: 15px;
                    h4 {
                        color: $primary;
                    }
                }
        
            .ex-expanded-link { 
                a {
                    text-transform: uppercase;
                    font-size: 1em;
                }
                
            }
        }
    
        .ex-expanded-title-rotated {
            text-transform: uppercase;
            transform: rotate(-90deg);
            position: absolute;
            top: 30%;
            left: 0;
            color: $light-grey;
            font-weight: 300;
            font-size: 3.5em;
            font-family: $font-secondary;
        }
    
        .ex-expanded-title-rotated-long {
            // @extend .ex-expanded-title-rotated;
            top: 25%;
            left: -12%;
        }
    
    } 

    .ex-expanded-col-wrapper {
        margin: 10px 0 60px 0;

        div {
            margin-left: 30%;
        }
    }

    .ex-expanded-info-wrapper {
        margin: 90px 0 50px 0;
        font-size: 1.2em;
        padding: 0 70px;

    
        div {
            margin: 10px 0 0 10px;
        }  
        
        .ex-expanded-address {
            color: $primary;
            font-family: $font-secondary;
        }
    
        .ex-expanded-tel {
            margin: 40px 0 60px 15px;
            p {
                span {
                    color: $primary;
                }
            }
        }
    
        .ex-expanded-social-icons {
            a {
                margin-right: 15px;
                color: $dark-grey;
            }
        }
    }
    
    .ex-read-more {
        a { min-width: 100%; }
    }


    .post-wrapper {
        h1 {
            font-size: 2.5em;
            text-align: center;
        }
    }

    .ex-copyrights {
        font-size: .9em;
    }
}