// copied from @media screen and (min-width: 401px) and (max-width: 720px) 
// max-width: 400px
@media screen and (max-width: 720px)  {

    body {
        overflow-x: hidden;
    }

    h1 {
        font-size: 1.7em !important;
    }

    a,p {
        font-size: 0.8em !important;
    }

    .ex-mr {
        margin-right: 5px;
    }

    .ex-ml {
        margin-left: 5px;
    }

    .m400-hidden {
        display: none;
    }

    .ex-landscape {
        display: none;
    }

    .mobile-hidden {
        display: none;
    }

    .ex-nav {
        width: 100%;
        margin: 0;
        height: 50px;
        .ex-logo {

            a {
                margin-left: auto;
            }

        }
    }

    .ex-nav-secondary {
        position: static; 
    }

    // burger menu - secondary nav
    .ex-sec-links i {
        margin-left: 30px;
        margin-right: 45px;
    }

    .ex-letters-logo {
        display: none;
    }

    .ex-inner-text {
        margin-left: 0 !important;
        bottom: 45% !important;
        padding: 5px;
    }

    .ex-about-section {
        padding: 0;
        flex-direction: column !important;
    }

    .ex-portrait{
        padding: 0 30px 0 20px !important;
        width: auto !important;
    }

    .ex-btn-about {
        display: block !important;
        position: static !important;
        margin: 15px auto 0 auto ;
    }

    .intro-section {
        padding: 20px 0;
    }

    .ex-services-item {
        img {
            width: 250px;
        }
    }

    .ex-pleonektimata-banners {
        flex-direction: column;
    }

    .ex-pleonektimata-banners .ex-pleonektimata-item {
        margin: 30px 0;

        .ex-p-number-4 {
            left: -5px;
        }
    }

    .ex-pleonektimata-item {
        .ex-p-number,
        .ex-p-image {
            width: 150px !important;
        }

        
    }

    .ex-home-posts {
        div {
            flex-direction: column;
        }
    }

    .ex-post-img {
        max-width: 100%;
    }

    .featured-post-inner-text {
        flex-direction: row !important;
        align-items: center !important;
        h2 {
            font-size: 1.3em;
            margin-bottom: 5px;
        }
        .ex-title-date-devider-simple-post {
            width: 45px !important;
        }

        .post-date {
            font-size: 1em;
        }
    } 

    footer {
        div {
            flex-direction: column;
        }
    }

    .ex-footer-img {
        min-width: 100%;

        .ex-footer-img-div {
            width: auto;
            height: auto;
            margin-left: 0;

            .ex-footer-img-text {
                margin: 0;
                padding: 20px;
            }
        }

        .ex-btn-contact {
            margin: 0 auto;
        }
    }

    .ex-expanded-navigation {
        position: absolute;
        max-width: 100% ;
    }

    .ex-expanded-col-wrapper {

        margin-bottom: 50px;
        padding: 0 30px;

        .ex-expanded-title-rotated {
            transform: rotateZ(90deg);
            position: absolute;
            top: 20%;
            right: 10%;
            left: auto;
            font-size: 1.5em;
        }

        .ex-expanded-title-rotated-long {
            right: 4%;
        }

    }

    .ex-blog-posts {
        padding: 20px 0;
    }

    .d-flex-mobile {
        flex-direction: column;
    }

    .rest-of-posts {
        padding-bottom: 50px;
        div {
            .p-5 {
                padding: 0 !important;
            }
        }
    }

    #about-us {
        padding: 15px 0;
    }

    .about-breadcrump {
        font-size: 1em;

        a:nth-child(1) {
            margin-left: 0;
        }
    }

    .about-us-inner-left-col {
    
        img {
            height: 400px;
        }

    }

    .ex-contact-l {
        img {
            display: none;
        }
    }

    .col-flex-wrapper {
        flex-direction: column;

        .ex-contact-info {
            margin-left: 0;
            margin-top: 0;
        }
    }

    .ex-contact-img-div {
        height: 100%;
        width: 100%;
        margin-left: 0;
        padding: 50px 10px 50px 10px;
       
        h3 {
            font-size: 1em;
        }
    }

    .ex-contact-form {
        margin-left: 0;
        margin-top: 0;
        width: 100%;
        padding: 15px;
    }

    .ex-map-contact-us {
        iframe {
            min-height: 465px;
            margin-top: -150px;
        }
    }

    .about-breadcrump,
    .about-single-back-link {
        justify-content: center;
        margin: 10px 0;
    }
    
    #footer {
        margin-top: 0;
    }
    
   
}


@media screen and (min-width: 721px) and (max-width: 1280px) {
  
    body {
        overflow-x: hidden;
    }

    h1 {
        font-size: 2.3em !important;
    }

    a,p {
        font-size: 1em !important;
    }

    #ex-open-menu {
        font-size: 1em;
    }

    .ex-nav-secondary {
        position: static; 
    }

    .ex-mr {
        margin-right: 15px;
    }

    .ex-ml {
        margin-left: 15px;
    }

    .ex-ul {
        align-items: center;
    }

    .m400-hidden {
        display: none;
    }

    .ex-landscape {
        display: none;
    }

    .mobile-hidden {
        display: none;
    }

    .ex-nav {
        width: 100%;
        margin: 0;
        height: 50px;

        .ex-logo {

            a {
                margin-left: auto;
            }

        }
    }

    // burger menu - secondary nav
    .ex-sec-links i {
        margin-left: 30px;
        margin-right: 45px;
    }

    
    .ex-contact-form {
        margin-left: 0;
        margin-top: 0;
        width: 100%;
        padding: 15px;
    }

    .ex-letters-logo {
        display: none;
    }

    .col-flex-wrapper {
        .ex-contact-info {
            margin-left: 0;
        }
    }


    .ex-header {

        height: 70vh;

        .ex-inner-text {
            margin-left: 0;
            left: 10%;
            bottom: 50%;
            transform: translateY(50%);
            padding: 5px;
        }

    }

    .ex-about-section {
        padding: 0;
        flex-direction: column !important;
    }

    .ex-portrait{
        padding: 0 30px 0 20px !important;
        width: auto !important;
    }

    .ex-btn-about {
        display: block !important;
        position: static !important;
        margin: 15px auto 0 auto ;
    }

    .intro-section {
        padding: 20px 0;
    }

    .ex-services-item {
        margin: 20px 0;
        img {
            width: 300px;
        }
    }

    .ex-pleonektimata-banners {
        flex-direction: column;
    }

    .ex-pleonektimata-banners .ex-pleonektimata-item {
        margin: 30px 0;

        .ex-p-number {
            top: -30%;
            left: 30%;
        }
    }

    .ex-pleonektimata-item {
        .ex-p-number,
        .ex-p-image {
            width: 150px !important;
        }
    }

    .ex-home-posts {
        div {
            flex-direction: column;
        }
    }

    .ex-post-img {
        max-width: 100%;
    }

    .featured-post-inner-text {
        flex-direction: row !important;
        align-items: center !important;
        h2 {
            font-size: 1.3em;
            margin-bottom: 5px;
        }
        .ex-title-date-devider-simple-post {
            width: 45px !important;
        }

        .post-date {
            font-size: 1em;
        }
    } 

    .post-list {
        max-width: 100%;
    }

    .post-wrapper { 
        .ex-btn-more-grey {
            padding: 0;
        }
    }

    footer {

        margin-top: -10px;

        div {
            flex-direction: column;
        }
    }

    .ex-footer-img {

        min-width: 100%;

        .ex-footer-img-div {
            width: auto;
            height: auto;
            margin-left: 0;

            .ex-footer-img-text {
                // margin: 0;
                padding:80px 30px;
            }
        }

        .ex-btn-contact {
            margin: 0 auto;
        }
    }

    .ex-expanded-navigation {
        position: absolute;
        max-width: 100% ;
    }

    .ex-expanded-col-wrapper {

        margin-bottom: 50px;
        padding: 0 30px;

        .ex-expanded-title-rotated {
            transform: rotateZ(90deg);
            position: absolute;
            top: 20%;
            right: 10%;
            left: auto;
            font-size: 1.5em;
        }

        .ex-expanded-title-rotated-long {
            right: 4%;
        }

    }  

    .ex-expanded-info-wrapper {
        margin-top: 0;
        justify-content: ceter;
        padding-bottom: 20px;

        div {
            margin: 5px 0 0 5px;
        }

        .ex-expanded-tel {
            margin: 20px 0 5px 5px;
        }
    }


    
    .ex-blog-posts {
        padding: 20px 0;
    }

    .d-flex-mobile {
        flex-direction: column;
    }

    .rest-of-posts {
        padding-bottom: 50px;
        div {
            .p-5 {
                padding: 0 !important;
            }
        }
    }
}

// @media screen and (min-width: 1281px) and (max-width: 1440px) {
    
// }

// @media screen and (min-width: 1441px) and (max-width: 1920px) {
    
// }

// @media screen and (min-width: 1921px) {
    
// }