@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    overflow-x: hidden;
}

// Reset Styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif';
}

a:hover { text-decoration: none; }

.ex-active { color: $primary; }
.ex-ml { margin-left: 126px; }
.ex-mr { margin-right: 126px; }
.understrap-read-more-link { display: none; } // temp solution to disable understrap read more.
.desktop-hidden { display: none; }

// header
.ex-header {
    height: 100vh;
    background: url('../assets/header-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 30px;
    position: relative;
    overflow: hidden;

    .ex-inner-text {
        margin-left: 126px;
        font-family: 'NotoSerif', Arial, Helvetica, sans-serif;
        color: #fff;
        position: absolute;
        bottom: 20%;
        z-index: 5;
        h1 {
            font-size: 5em;
            font-weight: 600;
        }
    }
}


// Translate Press Style
#menu-item-176 { margin-right: 15px; }

.trp-language-switcher-container {
    a {
        color: $dark-grey;
    }
}

.translatepress-en_US {
    header {
        nav {
            ul {
                li {
                    div {
                        ul {
                            #menu-item-175 {
                                a {
                                    color: $primary !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.translatepress-en_US {
    header {
        .navbar-on-scroll {
            ul {
                li {
                    div {
                        ul {
                            #menu-item-175 {
                                a {
                                    color: #fff !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.translatepress-el {
    header {
        nav {
            ul {
                li {
                    div {
                        ul {
                            #menu-item-176 {
                                a {
                                    color: $primary !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.translatepress-el {
    header {
        .navbar-on-scroll {
            ul {
                li {
                    div {
                        ul {
                            #menu-item-176 {
                                a {
                                    color: #fff !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.secondary-lang {
        ul {
            list-style-type: none;
            display: flex;

            li {
                a {
                    // color: #fff;
                    margin-right: 15px;
                    span { font-family: $font-secondary; }
                }
            }
        }
}



@media (min-width: 1200px) {

    .navbar-on-scroll {
        position: fixed;
        top: 0 !important;
        min-width: 100% !important;
        margin: 0 !important;
        background: $primary !important;
        z-index: 200;
        .ex-logo {
            display: inline-block;
            a {
                margin-left: 45px !important;
                img {
                    width: 80px !important;
                    height: 80px !important;
                }
            }
            font-size: 2.5em;
            color: $light-grey;
            text-transform: lowercase;
            font-weight: 600;

            .ex-letters-logo {
                display: none;
            }
        }

        ul {
            display: flex;
            list-style-type: none;
            margin-bottom: 0;

            .lang-selector {
                margin-right: 20px;
            }

            .ex-links {
                font-family: $font-secondary;
                margin: 0 45px;
                color: $dark-grey !important;
                i {
                    cursor: pointer;
                }
                a {
                    margin-left: 25px;
                }
            }

            span {
                font-family: $font-secondary;
            }
            .white-label {
                color: #fff;
            }
        }   
    }

}

.ex-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    margin-left: 150px;
    max-height: 80px;
    margin-top: 30px;
    transition: all ease-in-out 200ms;
    .ex-logo {
        display: inline-block;
        a {
            width: 100px;
            height: 100px;
            margin-left: -20px;
        }
        font-size: 2.5em;
        color: $light-grey;
        text-transform: lowercase;
        font-weight: 600;

        .ex-letters-logo {
            width: 200px;
        }
    }

    ul {
        display: flex;
        list-style-type: none;
        margin-bottom: 0;

        .lang-selector {
            margin-right: 20px;
        }

        .ex-links {
            font-family: $font-secondary;
            margin: 0 45px;
            i {
                cursor: pointer;
            }
            a {
                margin-left: 25px;
            }
        }

        span {
            font-family: $font-secondary;
        }
    }   
}


.arrow { 
    position: absolute;
    bottom: 0;
    left: -3px;
    width: 100%;
    height: 80%;
}

// Secondary nav
.ex-nav-secondary {
    position: fixed;
    min-width: 100%;
    z-index: 100;

    ul {

        li {
            color: $dark-grey;
            #menu-item-176 {
                a {
                    span {
                        color: #fff;
                    }
                }
            }
            span {
                font-family: $font-secondary;
                color: $dark-grey;
            }

        }
    }

}

// Intro

.intro-section {
    padding: 80px 0;
    position: relative;
    .ex-e-bg {
        position: absolute;
        bottom: -30px;
        z-index: -1;
    }
}

.ex-about-section {
    min-height: 935px;

    .ex-landscape {
        img {
            min-width: 1120px;
            min-height: 540px;
            position: absolute;
            z-index: 2;
            top: 15%;
            left: 25%;
        }
    }

    .ex-portrait {
        height: 780px;
        width: 470px;
        background-image: url('../assets/img-portrait.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: relative;
        z-index: 3;
        margin-left: auto;
        display: flex;
        align-items: center;
        padding: 0 30px 0 70px;
        .inner-info {
            color: #fff;
            h2 {
                margin: 30px 0;
            }
            p {
                font-size: 18px;
                line-height: 1.8;
            }
            img {
                // margin-top: 100px;
                position: absolute;
                bottom: 10%;
            }
        }
    }

    .ex-btn-about {
        background: $primary;
        color: #fff;
        padding: 10px 20px;
        display: inline;
        position: absolute;
        bottom: 25%;
        left: 35%;
        z-index: 4;
        overflow: hidden;
        a {
            text-transform: uppercase;
            color: #fff;
            padding: 20px 50px;
            font-size: 1.3em;
            font-family: $font-secondary;
            &:hover {
                color: #fff;
                text-decoration: none;

                &:hover .btn-img-arrow {
                    transform: translateX(55px);
                    transition: all ease-in-out 200ms;
                }
            }
        }
        .btn-img-arrow {
            height: 20px;
            position: absolute;
            left: 0;
            transform: translatex(-300px);
            margin-top: 5px;
        }


    }
}

// Services 
.services-section {
    background: $light-grey;
    padding: 100px 0;
    text-align: center;
    min-height: 1290px;
    h1 {
        font-size: 70px;
        font-weight: 700;
        margin-bottom: 150px;
    }

    .ex-services-item {

        & > div {
            margin-top: 3.5em;
        }

        h3 {
            color: $primary;
            text-transform: uppercase;
        }

        a:hover .services-arrow { 
            visibility: visible;
        }

        .services-arrow {
            visibility: hidden;
            opacity: 0;
            transition: all ease-in-out 200ms;
            max-width: 75px;
            margin: 0 auto;
        }
    }
}

.services-link:hover + .services-arrow {
    visibility: visible;
    opacity: 1;
}


.btn-s-wrapper {
    @extend .btn-blog-all;

    a {
        font-family: $font-secondary;
        &:hover .btn-blog-all-arrow {
            transform: translate(40px) !important;
        }

    }
}

.btn-b-home {
    @extend .btn-s-wrapper;
    cursor: initial !important;

    a {
        background-color: transparent !important;
        color: $dark-grey !important;

        &:hover .btn-b-home-arrow {
            transform: translateX(25px) !important;
        }

        .btn-b-home-arrow {
            @extend .btn-blog-all-arrow;
            transform: translatex(400px) !important;
            height: 24px !important;
            margin-top: 3px !important;
        }
    }
}

// Banners
.ex-banners {
    margin-top: -120px;
}

.watt-img,
.banner-item-spitogatos,
.banner-item-watt {
    width: 700px;
    height: 245px;
    transition: all ease-in-out 200ms;
}

.banner-item-spitogatos {
    background: url('../assets/spitogatosbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: translateX(-60px);
    position: relative;
    z-index: 1;
    transition: all ease-in-out 200ms;
    text-align: center;
}

.ex-banner-title {
    text-transform: uppercase;
    padding: 30px 0 40px 0;
    color: #fff;
    font-weight: 600;
    font-size: 1.25em;
}

.ex-banner-logo {
    width: 250px;
}

.banner-item-watt {
    background: url('../assets/wattnvoltbg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: translateX(60px);
    transform-origin: center;
    position: relative;
    z-index: 2;
    transition: all ease-in-out 200ms;
    text-align: center;

}



.ex-pleonektimata {
    padding-bottom: 80px;
    h1 {
        text-align: right;
        margin: 50px 0 150px 0;
        color: $light-grey;
        font-size: 3.5em;
        font-weight: 700;
        font-style: italic;
    }
}

.ex-pleonektimata-banners {
    display: flex;
    justify-content: space-between;
    .ex-pleonektimata-item {
        text-align: center;
        position: relative;

        &:nth-child(even) {
            margin-top: 100px;
        }

        .ex-p-image {
            width: 250px;
        }

        .ex-p-number {
            width: 90px;
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
        }

        p {
            color: $primary;
            font-size: 1.2em;
            margin-top: 30px;
        }

        
    }

}


.ex-home-posts {
    background-color: $light-grey;
    padding: 150px 0;
    & > div {
        gap: 50px;
    }
}

.post-wrapper {

    h1 {
        margin-bottom: 70px;
        color: $primary;
        font-size: 3.5em;
        font-weight: 700;
        font-style: italic;
    }

    .ex-blog-excerpt {
        margin: 0 0 40px 0;
        font-family: 'IBM Plex Sans';
        max-width: 800px;
        font-size: 1.3em;
    }

    .ex-btn-more-grey {
        color: $dark-grey;
        font-size: 1.3em;
        text-transform: uppercase;
        padding: 10px 40px;

        &:hover {
            color: $dark-grey;
        }
    }
}

.ex-blog-excerpt {
    margin: 0 0 40px 0;
    font-family: 'IBM Plex Sans';
    max-width: 800px;
    font-size: 1.3em;
}

.ex-btn-more-grey {
    color: $dark-grey;
    font-size: 1.3em;
    text-transform: uppercase;
    padding: 10px 40px;
}

.post {
    margin-bottom: 50px;
    max-width: 1000px;

    .ex-featured-post-img {
        min-width: 100%;
        max-height: 500px;
    }
}

.ex-post-img {
    max-width: 400px;
    max-height: 300px;
    min-width: 100%;   
}

.post-list {
    max-width: 500px;
    margin-bottom: 80px;
}


.featured-post-inner-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid $primary;
    padding-bottom: 10px;
    margin-bottom: 15px;
    margin-top: 5px;

    h2 {
        font-size: 2.2em;
        color: $primary;
        margin-bottom: 0;
        flex: 1;
    }

    .post-date {
        font-size: 1.2em;
        color: $primary;
        text-transform: uppercase;
    }

    .ex-title-date-devider {
        width: 85px;
        margin-right: 30px;
    }

    .ex-title-date-devider-simple-post {
        margin-right: 15px;
        width: 75px;
    }
}

.ex-read-more {
    display: flex;
    align-items: center;
    overflow: hidden;
    // width: 50%;
    &:hover .ex-read-more-arrow {
        transform: translateX(-40px);
    }

    .ex-read-more-arrow {
        height: 25px;
        transform: translateX(-500px);
        position: relative;
        z-index: 1;
        transition: all ease-in-out 200ms;
    }

    .ex-btn-more-grey {
        flex: 1;
        transform: translateX(-250px);
        position: relative;
        z-index: 3;
    }
}

.btn-blog-all {
    overflow: hidden;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

    a {
        position: relative;
        background: $primary;
        padding: 20px 50px;
        color: #fff;
        text-transform: uppercase;
        overflow: hidden;
        font-size: 1.3em;
        font-family: $font-secondary;

        &:hover .btn-blog-all-arrow {
            transform: translateX(20px);
            transition: all ease-in-out 200ms;
        }
    }
    .btn-blog-all-arrow {
        height: 21px;
        position: absolute;
        left: 0;
        transform: translatex(-300px);
        margin-top: 5px;
    }

    
}

.ex-map {
    iframe {
        min-width: 100%;
        min-height: 700px;
    }
}

footer {
    margin-top: -50px;
    overflow: hidden;
}

.ex-location {
    background: #fff;
    padding: 100px 0;
}

.ex-footer-info,
.ex-footer-img {
    background: $dark-grey;
}

.ex-footer-img {
    min-width: 600px;
    margin-top: -5px;

    .ex-footer-img-div {
        width: 680px;
        height: 380px;
        margin-left: -120px;
        background: url('../assets/footer-img.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-bottom: 25px;

        .ex-footer-img-text {
            color: #fff;
            font-family: $font-secondary;
            margin: 95px 70px 100px 115px;
            h3 {
                font-size: 2em;
                margin-bottom: 30px;
            }
            p {
                font-size: 1.2em;
            }
        }
    }

        
    .ex-btn-contact {
        overflow: hidden;
        display: flex;
        margin-left: auto;
        justify-content: center;
        align-items: center;
        a {
            position: relative;
            background: #fff;
            padding: 20px 50px;
            color: $primary;
            text-transform: uppercase;
            overflow: hidden;
            font-size: 1.3em;
            font-family: $font-secondary;
            &:hover .btn-blog-all-arrow {
                transform: translateX(37px);
                transition: all ease-in-out 200ms;
            }
        }
        .btn-blog-all-arrow {
            height: 25px;
            position: absolute;
            left: 0;
            transform: translatex(-300px);
            margin-top: 3px;
        }

        
    }
}

.ex-footer-address {
    margin: 90px 0 0 50px;
    font-size: 1.2em;
    color: $primary;
    p {
        font-family: $font-secondary;
    }
}


.ex-footer-social-icons,
.ex-footer-tel {
    margin: 40px 0 40px 50px;
    font-size: 1.2em;
    color: #fff;
    span {
        color: $primary;
        font-family: $font-secondary;
    }
    p {
        font-family: $font-secondary;
    }
}

.ex-footer-social-icons {

    a {
        transition: all ease-in-out 200ms;
        color: #fff;
        &:nth-child(2) {
            margin: 0 25px;
        }
        &:hover {
            color: $primary;
        }
    }   
}

.ex-copyrights {
    background: $primary;
    padding: 30px 0;
    text-align: center;
    color: #fff;
    font-family: $font-secondary;
    font-size: 1.125em;
    p {
        margin-bottom: 0;
    }
}


// expanded navigation


.ex-expanded-navigation {
    min-height: 80vh;
    padding-top: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -999;
    background-color: #fff;
    min-width: 100%;
    transition: all ease-in-out 200ms;
    opacity: 0;
    overflow: hidden;

    .close-expanded-menu-icon {
        position: absolute;
        right: 50px;
        top: 20px;
        font-size: 2em;
        color: $primary;
        cursor: pointer;
    }
}

.ex-expanded-address-img {
    height: 500px;
}

.ex-expanded-col-wrapper {

    // position: relative;

    ul {
        list-style-type: none;
        position: relative;
            a {
                font-size: 1.5em;
                font-family: $font-primary;
            }

            li {
                margin-bottom: 15px;
                h4 {
                    color: $primary;
                }
            }
    
        .ex-expanded-link { 
            a {
                text-transform: uppercase;
                font-size: 1em;
            }
            
        }
    }

    .ex-expanded-title-rotated {
        text-transform: uppercase;
        transform: rotate(-90deg) translateX(90%);
        position: absolute;
        color: $light-grey;
        font-weight: 300;
        left: 20px;
        top: 50%;
        font-size: 3.5em;
        font-family: $font-secondary;
    }

    .ex-expanded-title-rotated-long {
        @extend .ex-expanded-title-rotated;
        left: -20%;
        top: 80%;
    }

} 

.ex-expanded-info-wrapper {
    margin-top: 60px;
    font-size: 1.2em;

    div {
        margin: 10px 0 0 15px;
    }  
    
    .ex-expanded-address {
        color: $primary;
        font-family: $font-secondary;
    }

    .ex-expanded-tel {
        margin: 40px 0 60px 15px;
        p {
            span {
                color: $primary;
            }
        }
    }

    .ex-expanded-social-icons {
        a {
            margin-right: 15px;
            color: $dark-grey;
        }
    }
}


// Secondary Navigation Bar

.ex-navbar-secondary {
    background: $primary;
}


.services-wrapper {
    margin-bottom: 3.5em;
}

.ex-sec-links {
    list-style-type: none;
    font-family: $font-secondary;
    font-size: 1.2em;
    i {
        color: #fff;
        margin-left: 30px;
        cursor: pointer;
    }
    .ex-active {
        color: #fff;
        font-family: $font-secondary;
    }
    .lang-selector {
        font-family: $font-secondary;
        margin-right: 15px;
    }
    &:nth-child(even) {
        margin: 0 50px;
    }
}


.service-single-post {
    background: $light-grey;
    padding: 150px 0;
}

.service-single-back-link {
    margin-bottom: 120px;
    display: flex;
    align-items: center;

    img {
        width: 50px;
        margin-right: 15px;
    }
    a {
        text-transform: uppercase;
        font-family: $font-secondary;
        font-size: 1.1em;
    }
}

.breadcrump {
    margin-bottom: 120px;
    display: flex;
    font-size: 1.1em;
    a {
        color: $dark-grey;
        text-transform: capitalize;
        transition: all ease-in-out 200ms;
        &:hover {
            color: $primary;
        }
    }

    span {
        margin: 0 10px;
    }
}

.service-single-hr {
    border: 2px solid $primary;
    width: 35%;
    margin-left: -50px;
}

.service-single-title {
    font-size: 4em;
    color: $primary;
    font-weight: 600;
    text-transform: uppercase;
}

.single-service-content-part {
    color: $primary;
    font-size: 2em;
}


.services-archive {
    background: $light-grey;
    padding-bottom: 100px;
}

.services {
    padding: 150px 0;
    font-size: 3.5em;
    color: $primary;
    font-weight: 600;
}


.service-item {

    display: flex;
    flex-direction: column;
    justify-content: space-between;


    h1 {
        text-transform: uppercase;
        font-size: 2em;
        margin-top: 20px;
    }

    hr {
        border: 2px solid $primary;
        margin: 15px auto;
        width: 60%;
    }

    p {
        padding: 0 40px;
    }

    .service-item-img-wrapper {

        img {
            max-height: 350px;
        }
    }
}


.single-post-date {
    display: flex;
    align-items: center;
    align-content: center;
    img {
        max-width: 100px;
        margin-right: 10px;
    }

    span {
        color: $primary;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.2em;
    }

}

.single-post-wrapper {
    
    .single-post-img {
        min-width: 100%;
    }

}

.blog-single-title {
    @extend .service-single-title;
    margin: 15px 0;
    text-transform: capitalize;
}

.blog-single-hr {
    @extend .service-single-hr;
    margin-left: 0;
    width: 100%;
}


.ex-blog-posts {
    background: $light-grey;
    padding: 150px 0;
}

.not-found {
    min-height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;
    background: $primary;

    a,
    h1,
    h2 {
        color: #fff;
        font-family: $font-secondary;
        font-size: 3.2em;
    }

    span,
    a {
        font-size: 1.2em;
        opacity: 0.5;
        transition: all ease-in-out 250ms;
        display: inline-block;

        &:hover {
            color: #fff;
            opacity: 1;
        }
    }
    i {
        margin-right: 15px;
    }

}
